# Ignore everything
*

# Except these folders (who have their own .gitignore)
!.scripts/

# Except these files
!.editorconfig
!.gitattributes
!.gitignore
!Cakebox.yaml
!Cakebox.yaml.examples
!README.md
!vagrant_private_key.ppk
!Vagrantfile
